.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: #777;
    justify-content: space-between;
}

.cabecalho h1{
    margin: 0;
    font-size: 1.4rem;
}

.cabecalho a {
    padding: 5px 12px;
    border-radius: 5px;
    background-color: crimson;
}

.conteudo {
    padding: 25px;
    height: 100%;
}